.chess-ad-block {
  margin: 5px auto !important;
}

.streams-block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ad-content-bottom-wrapper {
  margin-bottom: 10px;
}

h3.stream-header {
  margin-bottom: 5px !important;
}

p.stream-description {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
